{% extends "base.html" %} 


{% block title %}Home{% endblock %}

{% block content2 %}
  <div>
    <img 
      src="https://lh3.googleusercontent.com/drive-viewer/AAOQEOTPppFFm2KRfPtnC1a50-fcReYKuqyhCsaWad4u49aFhK-6Z_LIBhJXj8JLHYGXX4m1kCdWshfexKCdDV2cxQbteu3cpw=s1600" 
      alt="Bramble, Rings For Any Occasion" 
      class="img-fluid home-banner"
    />
  </div>
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <hr class="intro-text-tb">
    <h1 class="intro-text">Handmade Rings, Crafted To Last A Lifetime</h1>
    <hr class="intro-text-bb">

    {% for product in products %}
      <div class="col-md-3">
        <a href="{{ url_for('views.product_details', id=product.id) }}">
          <img src="{{ product.image_url }}" alt="{{ product.name }}" class="img-thumbnail mx-auto"/>
        </a>
        <hr class="product-title-tb">
        <p class="product-title">{{ product.name }}</p>
        <hr class="product-title-bb">
        <p class="product-materials">{{ product.materials }}</p>
        <p class="price">${{ "%.2f" % product.price }}</p>
        <hr class="product-price-bb">
        {% if user.is_authenticated and user.email == admin %}
          <form action="{{ url_for('auth.remove_product', id=product.id) }}" method="POST">
              <button type="submit">Remove</button>
          </form>
        {% endif %}

      </div>
    {% endfor %}

    <hr class="why-bramble-tb">
    <h1 class="why-bramble">Why Choose Bramble?</h1>
    <hr class="why-bramble-bb">

    <div class="col-md-4 text-center">
      <hr class="why-bramble-header-tb">
      <h1 class="why-bramble-headers">Expertly Handcrafted</h1>
      <hr class="why-bramble-header-bb">
      <h3 class="why-bramble-desc">Bramble rings are handmade, ensuring the highest quality craftsmanship and attention to detail.</h3>
    </div>

    <div class="col-md-4 text-center">
      <hr class="why-bramble-header-tb">
      <h1 class="why-bramble-headers">Quality Materials</h1>
      <hr class="why-bramble-header-bb">
      <h3 class="why-bramble-desc">I use only the finest materials, resulting in incredible one of a kind rings.</h3>
    </div>

    <div class="col-md-4 text-center">
      <hr class="why-bramble-header-tb">
      <h1 class="why-bramble-headers">Fast and Reliable</h1>
      <hr class="why-bramble-header-bb">
      <h3 class="why-bramble-desc"> Your ring is hand-crafted and shipped to you in a timely manner, ensuring it arrives exactly when you need it to.</h3>
    </div>

  </div>
{% endblock %}
