/* Nav-bar */

body{
    background-color: white;
}

.navbar-brand{
    margin-right: 50px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.nav-link{
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.border-bottom{
    border-bottom: 2px solid black !important;
}


/* Forms */

.login-logout-header {
    color: black;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.btn{
    margin-top: 10px;
    background-color: black;
    color: white;
    transition: all .7s;
}

.btn:hover{
    color: black;
    background-color: white;
    border-color: black;
}

.form-control{
    border-color: black;
}

.form-control:focus{
    border-color: black;
    box-shadow: 0 0 0 0.2rem black;
}

.form-label{
    color: black;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}


/* Home-page */
.home-banner{
    height: 82vh;
    width: 100vw;
    object-fit: cover;
    padding-bottom: 10px;
}


.intro-text-tb{
    border-top: 3px solid black;
    margin-top: 20px;
    margin-bottom: 5px;
} 

.intro-text{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.intro-text-bb{
    border-top: 3px solid black;
    margin-top: -5px;
    margin-bottom: 20px;
}

.img-thumbnail{
    padding: 0;
    transition: .6s;
    margin-top: 10px;
    border-radius: 5px;
}

.img-thumbnail:hover{
    transform: scale(.95);
    transition: .6s;
}

.product-title-tb{
    border-top: 2px solid black;
    width: 90%;
    margin: 10px auto 5px auto;
}

.product-title{
    font-size: 1.2em;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    text-align: center;
}

.product-title-bb{
    border-top: 2px solid black;
    width: 90%;
    margin: -15px auto 15px auto;
}

.product-materials{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: -5px;
}

.price{
    margin-top: -10px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
}

.product-price-bb{
    border: 1px solid black;
    width: 20%;
    margin: -15px auto 15px auto;
}

.why-bramble-tb{
    margin-top: 75px;
    border-top: 3px solid black;
}

.why-bramble{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.why-bramble-bb{
    border-top: 3px solid black;
}

.why-bramble-header-tb{
    border-top: 2px solid black;
    width:95%;
    margin-top: 35px;
    margin-right: auto;
    margin-left: auto;
}

.why-bramble-headers{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.why-bramble-header-bb{
    border-top: 2px solid black;
    width:95%;
    margin-right: auto;
    margin-left: auto;
}

.why-bramble-desc{
    padding-top: 10px;
    padding-left: 20px;
    font-family: 'Raleway', serif;
    font-size: 18px;
    text-align: center;
    width: 95%
}

.packaging-image{
    width: 100%;
    padding-top: 100px;
}

.packaging-desc{
    font-family: 'Raleway', serif;
    font-size: 30px;
    margin-top:300px;
    text-align: center;
}


/* product details */

.product-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
}

.gallery-container {
    width: 50%;
    box-sizing: border-box;
    padding: 0 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.active-photo{
    width: 30vw;
    height: 30vw;
    padding-bottom: 20px;
    padding-top: 20px;
    object-fit: cover;
}

.thumbnail{
    display: inline-block;
    white-space: none;
}

.thumbnail img{
    width: 9.8vw;
    height: 9.8vw;
    margin-right: 5px;
    object-fit: cover;
}

.description-container {
    width: 50%;
    box-sizing: border-box;
    padding: 0 20px;
}

.divider{
    border-top: 3px solid black;
}

.divider-price{
    border-top: 3px solid black;
    width: 5vw;
    margin-left: auto;
    margin-right: auto;
}

.pd-name{
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 35px;
    font-weight: bold;
    padding-top: 20px;
}

.pd-price{
    text-align: center;
    font-family: 'cinzel', serif;
    font-size: 25px;
}

.pd-description {
    font-family: 'Raleway', serif;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 5px;
}