/* Nav-bar */

body{
    background-color: white;
    position: relative;
    margin-bottom: 100px;
}

.navbar-brand{
    margin-right: 50px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.nav-link{
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.border-bottom{
    border-bottom: 2px solid black !important;
}

a{
    color: black;
}


/* Forms */
.login-logout-header-tb{
    border-top: 2px solid black;
    width: 15%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    opacity: 100%;
}

.login-logout-header {
    color: black;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 3em;
}

.login-logout-header-bb{
    border-top: 2px solid black;
    width: 15%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    opacity: 100%;
}

.btn{
    margin-top: 10px;
    background-color: black;
    color: white;
    transition: all .7s;
}

.btn:hover{
    color: black;
    background-color: white;
    border-color: black;
}

.form-control{
    border-color: black;
}

.form-control:focus{
    border-color: black;
    box-shadow: 0 0 0 0.1rem black;
}

.form-label{
    color: black;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.contact-msg-box{
    width: 100%;
    height: 20vh;
    border: 1px solid black;
    border-radius: 5px;
}

.form-border{
    border: 3px solid black;
    padding: 25px;
    border-radius: 5px;
}


/* Home-page */
.home-banner{
    height: 82vh;
    width: 100vw;
    object-fit: cover;
    padding-bottom: 10px;
}


.intro-text-tb{
    border-top: 2px solid black;
    margin-top: 20px;
    margin-bottom: 5px;
    opacity: 100%;
} 

.intro-text{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.intro-text-bb{
    border-top: 2px solid black;
    margin-top: -5px;
    margin-bottom: 20px;
    opacity: 100%;
}

.img-thumbnail{
    padding: 0;
    transition: .6s;
    margin-top: 10px;
    border-radius: 5px;
    border: 3px solid black;
}

.img-thumbnail:hover{
    transform: scale(.95);
    transition: .6s;

}

.product-title-tb{
    border-top: 2px solid black;
    width: 90%;
    margin: 10px auto 5px auto;
    opacity: 100%;
}

.product-title{
    font-size: 1.2em;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    text-align: center;
}

.product-title-bb{
    border-top: 2px solid black;
    width: 90%;
    margin: -15px auto 15px auto;
    opacity: 100%;
}

.product-materials{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: -5px;
    font-weight: bold;
}

.price{
    margin-top: -10px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
}

.product-price-bb{
    border: 1px solid black;
    width: 20%;
    margin: -15px auto 50px auto;
    opacity: 100%;
}

.why-bramble-tb{
    margin-top: 25px;
    border-top: 3px solid black;
    opacity: 100%;
}

.why-bramble{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.why-bramble-bb{
    border-top: 3px solid black;
    opacity: 100%;
}

.why-bramble-header-tb{
    border-top: 2px solid black;
    width:95%;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    opacity: 100%;
}

.why-bramble-headers{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.why-bramble-header-bb{
    border-top: 2px solid black;
    width:95%;
    margin-right: auto;
    margin-left: auto;
    opacity: 100%;
}

.why-bramble-desc{
    padding-top: 10px;
    padding-left: 20px;
    font-family: 'Raleway', serif;
    font-size: 18px;
    text-align: center;
    width: 95%
}

.bi-hammer{
    margin-top: 50px;
    margin-bottom: 50px;
}

.bi-award-fill{
    margin-top: 70px;
    margin-bottom: 50px;
}

.bi-alarm-fill{
    margin-top: 45px;
    margin-bottom: 50px;
}

.footer-container{
    display: inline-block;
}

footer{
    position:fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid black;
    background-color:white;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibiliity 1s ease;
}

footer.show{
    opacity: 1;
    visibility: visible;
}

.footer-text{
    padding-top: 15px;
    padding-left: 10px;
    font-family: 'Cinzel', sans-serif;
    font-weight: bold;
}

.footer-icons{
    display: flex;
    padding-right: 10px;
    justify-content: flex-end;
    padding-top: 13px;
}

.bi-instagram{
    margin-right: 10px;
    color: black;
}

.bi-tiktok{
    color: black;
}



/* product details */

.product-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
}

.gallery-container {
    width: 50%;
    box-sizing: border-box;
    padding: 0 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.active-photo{
    width: 30vw;
    height: 30vw;
    margin-top: 20px;
    object-fit: cover;
    border: 3px solid black;

}

.thumbnail{
    display: inline-block;
    white-space: none;
}

.thumbnail img{
    width: 9.8vw;
    height: 9.8vw;
    margin-right: 5px;
    object-fit: cover;
}

.description-container {
    width: 50%;
    box-sizing: border-box;
    padding: 0 20px;
    text-align: center;
}

.have-any-questions-text{
    margin-top: 100px;
}

.divider{
    border-top: 3px solid black;
}

.price-bb{
    border-top: 3px solid black;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    opacity: 100%;
}

.pd-price{
    text-align: center;
    font-family: 'cinzel', serif;
    font-size: 25px;
    font-weight: bold;
}

.ring-size-container{
    display: flex;
    padding-top: 20px;
}

.ring-size-label{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 3px;
    
}

.ring-size-select{
    border: 2px solid black;
    border-radius: 5px;
    align-items: flex-start;
}

option{
    font-family: 'raleway', 'sans-serif';
    text-align: center;
}

option:hover{
    background-color: black;
    color: white;
}

.add-to-cart{
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    transition: 0.6s;
}

.add-to-cart:hover{
    background-color: white;
    color: black;
    transition: 0.6s;
    border: 1px solid black;
}

.packaging-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.packaging-image-container{
    width: 50%;
}

.packaging-image{
    width: 75%;
    height: auto;
    border: 3px solid black;
    border-radius: 5px;
    margin: 0 auto 0 auto;
    
}

.packaging-description-container{
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}





/* About section */
.about-section-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
}

.image-container{
    width: 50%;
    box-sizing: border-box;
    padding: 0 20px;
}

.about-me-text-container{
    width: 50%;
    box-sizing: border-box;
    padding: 0 20px;
    border: 5px solid black;
    border-radius: 5px;
    margin-top: 125px;
}

.about-me-tb{
    margin-top: 50px;
    border-top: 2px solid black;
    opacity: 100%;
}

.about-me-intro{
    text-align: center;
    font-family: 'Cinzel', sans-serif;
    font-weight: bold;
    font-size: 3em;
}

.about-me-bb{
    margin-bottom: 50px;
    border-top: 2px solid black;
    opacity: 100%;
}

.about-me-image{
    width: 85%;
    height: auto;
    border: 5px solid black;
    border-radius: 5px;
}

.raleway-text{
    font-family: 'Raleway', 'sans-serif';
    font-size: 20px;
    text-align: center;
}

.customer-testimonial-tb{
    border: 1px solid black;
    margin-top: 50px;
    opacity: 100%;
}

.customer-testimonials{
    font-family: 'Cinzel', 'serif';
    text-align: center;
    font-weight: bold;
}

.customer-testimonial-bb{
    border: 1px solid black;
    margin-bottom: 75px;
    opacity: 100%;
}

.review-text{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-left: 30px;
    display: inline-block;
    vertical-align: middle;
}

.reviews{
    border: 5px solid black;
    border-radius: 5px;
    margin-bottom: 75px; 
}

.reviews img{
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    border-right: 5px solid black;
}

/* Contact Us */

.contact-header{
    padding-top: 25px;
}

.contact-us-txt{
    font-family: 'raleway', 'sans-serif';
    font-size: 20px;
    text-align: center;
    padding: 25px 0 25px 0;
}

/* fAQ */

.question-tb{
    border-top: 2px solid black;
    opacity: 100%;
}

.question-bb{
    border-top: 2px solid black;
    opacity: 100%;
    margin-bottom: 50px;
}

.question{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}